.text-center
  %h4 >> For Press <<
%hr
%b Thank you for visiting :) You can learn more here:
/If you want to find out more, contact us at yshmarov@gmail.com [we are yet to create a normal website url and corporate email ;)]
.row
= link_to 'Our Facebook page', "https://www.facebook.com/inteliLex-1965675357074543/", :target => '_blank'
.row
= link_to 'Our Linkedin page', "https://www.linkedin.com/company/19040852", :target => '_blank'

%hr
%b High quality photos:
.row
= link_to 'Team photo', "https://i.imgur.com/WmsEWRo.jpg", :target => '_blank'
.row
= link_to 'Team victory photo', "https://i.imgur.com/hpuD1HU.jpg", :target => '_blank'
.row
= link_to 'How we work today (problem) photo', "https://i.imgur.com/IDctFvl.png", :target => '_blank'
.row
= link_to 'inteliLex demo (solution) photo', "https://i.imgur.com/DUJ2ASa.png", :target => '_blank'

%hr
%b Press about us:
.row
/= link_to 'Prawo.pl o Global Legal Hackathon Warsaw', "https://www.prawo.pl/prawnicy-sady/wlodzimiersz-chroscik-o-global-legal-hackathon,376710.html", :target => '_blank'
= link_to 'Prawo.pl - Global Legal Hackathon Warsaw - kto wygral', "https://www.prawo.pl/prawnicy-sady/global-legal-hackathon-2019-kto-wygral,376694.html", :target => '_blank'
.row
= link_to 'Wolters Kluwer - Sukces Golobal Legal Hackathon 2019', "http://www.wolterskluwer.pl/czytaj/-/artykul/sukces-global-legal-hackathon-2019", :target => '_blank'

