.row
  .col-lg-6
    .container
      %p
        %b Autocomplete 1.0: Type a few letters, pick a word.
      %p
        %b Autocomplete 2.0: Type a few words, pick a text snippet. This is inteliLex. The first version of inteliLex is a Word plugin (powered by machine learning) to find best match text snippets in other relevant documents as you type!
      /We have created the technology that . 
      %p
      /%p 1st year after launch - free for 1 user. regular price will be around 5eur/user/month
      %li Spend less time on scrolling through documents.
      %li Find relevant information faster.
      %li Make your knowledgebase easily reusable
      %hr/
      %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
        %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
        %input{:name => "hosted_button_id", :type => "hidden", :value => "US2K8TGRFR5CA"}/
        %input{:alt => "Donate with PayPal button", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/PL/i/btn/btn_donateCC_LG.gif", :title => "PayPal - The safer, easier way to pay online!", :type => "image"}/
        %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypal.com/en_PL/i/scr/pixel.gif", :width => "1"}/
      %p
      By donating, you will:
      %li - Get updates & sneak pics on our progress ;)
      %li - Have early bird access when we launch!
  .col-lg-6
    .embed-responsive.embed-responsive-16by9
      /%iframe.embed-responsive-item{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube-nocookie.com/embed/yJP6Hd_SzyA?controls=0", :width => "560"}
      /%iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube-nocookie.com/embed/yJP6Hd_SzyA", :width => "560"}
      /%iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/vHRIuLycjAQ", :width => "560"}
      %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/SnZdRpjUs-M", :width => "560"}

    .navbar.nav.bg-primary.text-white Launching soon!
    /%br
    /Google docs:
    /= image_tag "https://i.imgur.com/E00GzbD.png", style: 'height:auto;width:100%;'
    /%p
    /Word:
    %br
%hr
.row
  .col-lg-6
    .text-center
      %h1 Today
      It can take some time to search through your documents and find the right text snippet that you want to use. Frustrating!
    = image_tag "https://i.imgur.com/IDctFvl.png", style: 'height:auto;width:100%;'
  .col-lg-6
    .text-center
      %h1 Tomorrow
      Just start typing, and our plugin will automagically find the most relevant clauses from your document database. Much faster and all in one window! 
    /OLD PHOTO
    /= image_tag "https://i.imgur.com/92Z3cy7.png", style: 'height:auto;width:100%;'
    = image_tag "https://i.imgur.com/DUJ2ASa.png", style: 'height:auto;width:100%;'
%hr
.text-center
  %h1 Our team:
= image_tag "https://i.imgur.com/WmsEWRo.jpg", style: 'height:auto;width:100%;'
%p
.text-center
  %h2 Victory at the Legal Hackathon hosted by Wolters Kluwer Poland, 2019
= image_tag "https://i.imgur.com/hpuD1HU.png", style: 'height:auto;width:100%;'
.row
</div>
%footer.page-footer.font-small.stylish-color-dark.pt-4.mt-4
.bg-dark.text-white
  %hr.bg-light
  / Call to action
  %ul.list-unstyled.list-inline.text-center.py-2
    %li.list-inline-item
      %h5.mb-1 Ready to get started?
    = link_to 'Subscribe & be first to know when we launch!', new_lead_path, class: 'btn btn-lg btn-primary'

  / Call to action
  %hr/
  / Footer Links
  .container.text-center.text-md-left
    / Grid row
    .row
      / Grid column
      .col-md-4.mx-auto
        / Content
        %h5.font-weight-bold.text-uppercase.mt-3.mb-4
          /Footer Content
        %p
          %small
            © #{Time.now.year} inteliLex
            %p
            All rights reserved -
            %a{:href => "http://www.intelilex.herokuapp.com/"} intelilex.herokuapp.com
            %p
            /13 Konstruktorska str. 02-651, Warsaw, Poland
            %p
            = mail_to 'yshmarov@gmail.com'
            %p
            #footer
              .block
                %p
                  Copyright © #{Time.now.year}
                  inteliLex
      / Grid column
      %hr.clearfix.w-100.d-md-none/
      / Grid column
      .col-md-2.mx-auto
        / Links
        %h5.font-weight-bold.text-uppercase.mt-3.mb-4 Product
        %ul.list-unstyled
          = link_to 'Features', root_path
          %p
          = link_to 'How?', root_path
          %p
          = link_to 'Pricing', root_path
      / Grid column
      %hr.clearfix.w-100.d-md-none/
      / Grid column
      .col-md-2.mx-auto
        / Links
        %h5.font-weight-bold.text-uppercase.mt-3.mb-4 Legal
        %ul.list-unstyled
          = link_to 'Pricing policy', root_path
          = link_to 'Customer agreement', root_path
          = link_to 'Terms of service', root_path
          = link_to 'Security', root_path
      / Grid column
      %hr.clearfix.w-100.d-md-none/
      / Grid column
      .col-md-2.mx-auto
        / Links
        %h5.font-weight-bold.text-uppercase.mt-3.mb-4 About us
        %ul.list-unstyled
          = link_to 'Contact us', root_path
      / Grid column
    / Grid row
  / Footer Links
