</div>
.container-fluid
  .row
    .col-lg-3
    .col-lg-6
      .card.card-body.bg-light
        Hot news! on May 4th 2019, inteliLex.net won the first place at the Global Legal Hackathon 2019 finals!
        = image_tag "https://i.imgur.com/YeYpXxa.png", style: 'height:auto;width:100%;'
        .text-right
          %a{:href => "https://www.globallegalhackathon.com/"} Global Legal Hackathon 2019
%hr
.container-fluid
  .row
    .col-lg-6
      %h2.display-4 InteliLex suggests relevant text snippets while you create legal documents
    .col-lg-6
      .embed-responsive.embed-responsive-16by9
        %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/moCZ-1iGBcs", :width => "560"}
      /%h6.text-center
      /  %small iL video
%br
.container-fluid.bg-light.text-center
  %br
  .row
    .col-lg-6
      %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/12alwidK0hw", :width => "560"}
      /%h6.text-center
      /  %small iL integrates directly with Microsoft Word and your document knowledgebase.
    .col-lg-6
      .display-4 How it works
      .text-left
        %br
        %h5
          %p 1) Download & Install inteliLex plugin
          %p 2) Choose folders with source documents
          %p 3) Start typing in Word. You will see recommendations in the sidebar!
        %hr
        %h3 
          Be first to know when we launch!
          %p
        = link_to 'Subscribe', new_lead_path, class: 'btn btn-lg btn-warning'
        %p
%br
.container-fluid
  .row
    .col-lg-6
      .text-center
        %h2 Your work today
        Frustrating. It can take some time to search through your documents and find the right text snippet that you want to use.
      = image_tag "https://i.imgur.com/IDctFvl.png", style: 'height:auto;width:100%;'
    .col-lg-6
      .text-center
        %h2 Your work with intiliLex
        Just start typing, and our plugin will automagically recommend the most relevant clauses from your document database. Much faster and all in one window! 
      = image_tag "https://i.imgur.com/DUJ2ASa.png", style: 'height:auto;width:100%;'
  %br

:css
  .parallax { 
    /* The image used */
    background-image: url("https://i.imgur.com/kbOXzsH.jpg");
    /* Set a specific height */
    height: 300px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
/ Container element
.parallax

%h2.display-4.text-center What for?
.container-fluid
  .card-group
    .card
      .card-body.text-center.bg-light
        %i.fa.fa-file-word.fa-3x{:style => "font-size:80px;color:orange;"}
        %h4.card-title Find
        %p.card-text
          %small Find content that you've already created in the past within seconds.
    .card
      .card-body.text-center.bg-light
        %i.fa.fa-clock.fa-3x{:style => "font-size:80px;color:orange;"}
        %h4.card-title Save
        %p.card-text
          %small Spend less time on scrolling through documents.
    .card
      .card-body.text-center.bg-light
        %i.fa.fa-book-open.fa-3x{:style => "font-size:80px;color:orange;"}
        %h4.card-title Reuse
        %p.card-text
          %small Make your knowledgebase easily reusable.
    .card
      .card-body.text-center.bg-light
        %i.fa.fa-search.fa-3x{:style => "font-size:80px;color:orange;"}
        %h4.card-title Compare
        %p.card-text
          %small New way to compare similar clauses.

%hr
.container-fluid
  .text-center
    %h2.display-4 Featured on
    %br
    .row
      .col-lg
        = image_tag "https://i.imgur.com/ptzzX7z.png", style: 'height:auto;width:35%;'
      .col-lg
        = image_tag "https://i.imgur.com/XsF0duJ.jpg", style: 'height:auto;width:55%;'
      .col-lg
        = image_tag "https://i.imgur.com/GmukeE0.png", style: 'height:auto;width:35%;'


%hr
.container-fluid.text-center
  %h2 Big team. Big motivation. Big plans!
  = image_tag "https://i.imgur.com/g8DC00m.jpg", style: 'height:auto;width:100%;'
.row
