= simple_form_for @lead do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .form-inputs
    = f.input :email, autofocus: true
    = f.input :last_name
    = f.input :first_name
    = f.input :phone_number
    = f.input :company
    = f.input :comment
  %hr
  .form-actions
    /= f.button :submit, class: "btn btn-success"
    = f.submit 'Sign up', class: 'btn btn-success'
