%h1 Listing subscribers

%table.table
  %thead
    %tr
      /%th{:colspan => "2"}
      %th
      %th Created
      %th Email
      %th Last name
      %th First name
      %th Phone number
      %th Company
      %th Comment
      /%th
      %th
  %tbody
    - @leads.each_with_index do |lead, index|
      %tr
        %td= lead.created_at
        %td= index +1
        %td= lead.email
        %td= lead.last_name
        %td= lead.first_name
        %td= lead.phone_number
        %td= lead.company
        %td= lead.comment
        /%td= link_to '', edit_lead_path(@lead), class: "btn btn-warning fa fa-edit btn-sm"
        %td= link_to 'Delete', lead, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm"