!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title inteliLex - Reclaim your knowledge
    = favicon_link_tag 'iL short logo.png'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #notice= notice
    %nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light
      %a.navbar-brand{:href => "/"} 
        /= image_tag "iL short logo.png", size: "25x25", class: "mx-auto d-inline align-top", :alt => "logo"
        = image_tag "https://i.imgur.com/WleKSQY.png", size: "130x25", class: "mx-auto d-inline align-top", :alt => "logo"
        /%b inteliLex
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.ml-md-auto.d-md-flex
          = link_to 'FAQ', faq_path, class: 'btn btn-warning mr-sm-2'
          = link_to 'For Press', for_press_path, class: 'btn btn-warning mr-sm-2'
          = link_to 'Sign up', new_lead_path, class: 'btn btn-warning mr-sm-2'
    %br
    .container-fluid
      = yield
      </div>
      = render 'layouts/footer'
