!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title inteliLex
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #notice= notice
    %nav.navbar.fixed-top.navbar-expand-lg.navbar-primary.bg-warning
      %button.navbar-toggler{"aria-controls" => "navbarTogglerDemo01", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarTogglerDemo01", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarTogglerDemo01.collapse.navbar-collapse
        %a.navbar-brand{:href => "/"} 
          .text-dark
            %h1 inteliLex
      = link_to 'For Press', for_press_path, class: 'btn btn-dark mr-sm-2'
      = link_to 'Sign up', new_lead_path, class: 'btn btn-dark mr-sm-2'
    %br
    .container-fluid
      = yield
