!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title inteliLex - Reclaim your knowledge
    = favicon_link_tag 'iL short logo.png'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/google_analytics'
  %body
    #notice= notice
    = render 'layouts/header'
    .card.card-header.bg-warning
      This is the old version of our website. The new version:
      = link_to "https://www.intelilex.net", target: :_blank do
        here
    %br
    .container-fluid
      = yield
      </div>
      = render 'layouts/footer'
